@import 'bootstrap/scss/bootstrap';


.mainBg{
    background-image: url('/Users/davidemaio/Desktop/dolcevite/public/image/wood.jpg');
    background-size: cover;
    background-repeat: repeat-y;
}

.bgHippie{
    background-image: url('/Users/davidemaio/Desktop/dolcevite/public/image/patern.png');
    background-size: cover;
    background-repeat: repeat-y;
}

.fontName{
    font-size: 4.0vw;
    font-weight: 500;
    line-height: 1.5;
}

.fontSize{
    font-size: 3.5vw;
    line-height: 1.5;
}

.frontCard{
    width: 21.0vw;
    border-radius: 15px;
    margin-top: 10px;
}

.frontCard img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.fontSizeCategory{
    font-size: 14vw;
}

.fontSizeCategory2{
    font-size: 12.8vw;
}

//! Card pagina dettaglio
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.bodyclass{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.bodydiv{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}

.card{
    position: relative;
    width: 360px;
    min-height: 400px;
    background: #fff;
    box-shadow: 25px 25px 60px (rgba(0,0,0,0.65));
    padding: 20px;
}

 .card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .card .top .details{
    display: flex;
    align-items: center;
 }

 .card .top .details .profile-image{
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
 }

 .cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
 }

 .card .top .details h3{
    font-size: 16px;
    color: #4d4d4f;
    font-weight: 500;
    line-height: 1em;
 }

 .card .top .details h3 span{
    font-size: 0.75em;
 }

 .imgBox{
    position: relative;
    width: 100%;
    height: 320px;
    margin-top: 10px;
    margin-bottom: 10px;
 }

 .actionBtns{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

 .actionBtns i{
    max-width: 24px;
    cursor: pointer;
    font-size: x-large;
 }

 .actionBtns .left i{
    margin-right: 8px;
 }

 .likes{
    font-weight: 500;
    margin-top: 7px;
    font-size: 16px;
    color: #4d4d4f;
 }

 .message{
    font-weight: 400;
    margin-top: 7px;
    color: #777;
    line-height: 1.5em;
 }

 .message b{
    color: #262626;
 }

 .message span{
    color: #1d92ff;
    cursor: pointer;
 }

 .comments{
     margin-top: 10px;
     font-weight: 400;
     color: #999;
 }

 .addComments{
    display: flex;
    align-items: center;
    margin-top: 10px;
 }

 .addComments .userImg{
    position: relative;
    min-width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
    box-sizing: border-box;
    border: #ff8cea 1px solid;
 }

 .text{
    width: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    color: #777;
    text-decoration: none;
 }

.postTime{
    margin-top: 10px;
    font-weight: 500;
    color: #777 ;
    font-size: 12px;
}