@tailwind base;
@tailwind components;
@tailwind utilities;


/* body{
    background-image: url(/Users/developer/dolcevite/storage/app/public/image/wood.jpg);
} */

.landing{
    background-image: url(/Users/developer/Desktop/dolcevite/public/image/wood.jpg);
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
}

.antip{
    background-image: url(/Users/developer/Desktop/dolcevite/public/image/antip.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
}

.bgHippie{
    background-image: url(/Users/developer/Desktop/dolcevite/public/image/patern.png);
    background-size: contain;
    background-repeat: repeat;
    width: auto;
}

.container2 {
    position: relative;
    width: 100%;
  }

.container2 img {
    width: 100%;
    height: auto;
  }

.container2 .btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #F06B79;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }

a{
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}
.fontName {
    font-size: 4.0vw;
	line-height: 1.5;
    font-weight: 500;
}

.fontSize{
    font-size: 3.0vw;
	line-height: 1.5;
}

.fontSize2{
    font-size: 8px;
}

.category{
    font-size: 70px;
    font-family: fantasy;
}

h6{
    font-size: 2.5vw;
	line-height: 1.5;
    font-weight: 500;
}

.menuImgBox {
    width: 100vh;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menuImgBox img {
    width: 80vh;
    height: auto;
  }

.bg-smoke{
    background: whitesmoke;
}

.containerSize{
    min-height: 900px;
}

.fontSizeCategory{
    font-size: 11.0vw;
	line-height: 1.5;
}

.frontCard{
    width: 100%;
    min-height: 60px;
    max-height: auto;
}

/* Card */

.bodyclass{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;
}

.card{
    position: relative;
    width: 560px;
    min-height: 600px;
    background: #fff;
    box-shadow: 15px 15px 60px rgba(0, 0, 0, 15);
    padding: 20px;
}

.card .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .top .details{
    display: flex;
    align-items: center;
}

.card .top .details .profile-img{
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 8px;
}

.cover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.cover2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card .top .details h3{
    font-size: 17px;
    font-weight: 500;
    line-height: 1em;
}

.card .top .details h3 span{
    font-size: 0.75em;
}

.imgBx{
    position: relative;
    width: 100%;
    height: 420px;
    margin: 10px 0 15px;
}

.actionBtns{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.actionBtns i{
    font-size: 35px;
    cursor: pointer;
}

.actionBtns .left i{
    margin-right: 8px;
}

.likes{
    font-weight: 500;
    margin-top: 7px;
    font-size: 17px;
    color: #4d4d4f;
}

.message{
    font-weight: 400;
    margin-top: 7px;
    color: #777;
    font-size: 16px;
    line-height: 1.5em;
}

.message b{
    color: #262626;
}

.message span{
    color: #1d92ff;
}

.comments{
    margin-top: 10px;
    font-weight: 400;
    color: #999;

}

.addComments{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.addComments .userImg{
    position: relative;
    min-width: 45px;
    height: 45px;
    border: rgb(251, 160, 213) solid;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 8px;
}

.text{
    width: 100%;
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 16px;
    color: #262626;
}

.text::placeholder{
    color: #777;
}

.postTime{
     margin-top: 12px;
     font-weight: 500;
     color: #777;
}


