@tailwind base;
@tailwind components;
@tailwind utilities;


/* body{
    background-image: url(/Users/developer/dolcevite/storage/app/public/image/wood.jpg);
} */

.landing{
    background-image: url(/Users/developer/dolcevite/storage/app/public/image/wood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.bg-dolce{
    background-image: url(/Users/developer/dolcevite/public/storage/image/landing.jpg);
    background-repeat: repeat;
    background-size: contain;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;

}

.container {
    position: relative;
    width: 100%;
  }

.container img {
    width: 100%;
    height: auto;
  }

.container .btn {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #F06B79;
    color: white;
    font-size: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }

a{
    text-decoration: none;
}

a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}
