@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-image: url(/Users/developer/dolcevite/storage/app/public/image/wood.jpg);
}

.landing{
    background-image: url(/Users/developer/dolcevite/storage/app/public/image/wood.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

.bg-dolce{
    background-image: url(/Users/developer/dolcevite/public/storage/image/landing.jpg);
    background-repeat: repeat;
    background-size: contain;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;

}
